:root {
  --title-colour: #252525;
  --main-text-colour: #646464;
  --secondary-text-colour: #404040;
  --card-background-colour: #e0e0e0;
  --updated-text-colour: #6B6B6B;
  --input-background-colour: #F2F2F2;
  --border-colour: #c2c2c2;
  --placeholder-text-colour: #ababab;
  --font: "Quicksand", sans-serif;
}
body {
  margin: 0;
  background-color: #cfcfcf;
}
.midSectionUpper {
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap-reverse;
}
.title {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: var(--title-colour);
  margin-top: 20px;
  flex: 1;
  pointer-events: none;
}
.date {
  font-family: var(--font);
  color: var(--main-text-colour);
  margin-top: -10px;
  pointer-events: none;
}
.navUpper {
  display: flex;
}
.lowerText {
  font-family: var(--font);
  font-size: 18px;
  padding: 30px;
  color: var(--main-text-colour);
  text-transform: capitalize;
}
.navLower {
  margin-bottom: 15px;
}
.card {
  display: flex;
  min-width: 115px;
  margin-right: 15px;
  background-color: var(--card-background-colour);
  border-radius: 20px;
  justify-content: center;
}
.card:hover {
  cursor: pointer;
}
.cardCity {
  font-family: var(--font);
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: var(--main-text-colour);
}
.cardDate {
  font-family: var(--font);
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  color: var(--main-text-colour);
}
.cardCountry {
  font-family: var(--font);
  font-size: 18px;
  color: var(--main-text-colour);
}
.optionExtra {
  display: flex;
  align-items: center;
}
.cardWeather {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 200;
  margin-top: 20px;
  color: var(--main-text-colour);
}
.cardTemperature {
  font-family: var(--font);
  font-size: 24px;
  font-weight: bold;
  color: var(--main-text-colour);
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 195px;
}
.displayCards {
  min-height: 250px;
  margin-top: 10px;
}
.cardContainer {
  margin-bottom: 15px;
}
.favouriteRemove {
  margin-top: 2px;
}
.favouriteRemove:hover {
  cursor: pointer;
}
.weatherIcon {
  max-width: 75px;
  max-height: 75px;
  margin: -25px auto;
}
.midSectionLower {
  margin-top: 30px;
  margin-left: 3%;
  margin-right: 3%;
}
.updated {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 200;
  color: var(--updated-text-colour);
  pointer-events: none;
}
.updateButton {
  margin-left: 10px;
  color: var(--updated-text-colour)
}
.updateButton:hover {
  cursor: pointer;
}
.switch {
  color: white;
  font-size: 16px;
  font-family: var(--font);
  width: 65px;
  pointer-events: none;
}
.searchBoxContainer {
  display: flex;
  flex-direction: column;
}
.searchBox {
  height: 25px;
  font-size: 18px;
  padding: 6px 12px;
  font-weight: 400;
  font-family: var(--font);
  color: var(--secondary-text-colour);
  background-color: var(--input-background-colour);
  outline-style: none;
}
.searchBoxCity {
  border-radius: 70px 0 0 70px;
  border-left: 1px var(--border-colour) solid;
  border-top: 1px var(--border-colour) solid;
  border-bottom: 1px var(--border-colour) solid;
  border-right: 0;
}
.searchBoxCountry {
  border-radius: 0 70px 70px 0;
  border: 1px var(--border-colour) solid;
}
.searchIcon {
  color: var(--border-colour);
  margin-left: 4px;
  padding: 7px;
}
.searchIcon:hover {
  cursor: pointer;
}
.recentBox {
  margin-top: 20px;
  background-color: var(--input-background-colour);
  border-radius: 20px;
  border: 1px var(--border-colour) solid
}
.recentRow {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.recentRemove:hover {
  cursor: pointer;
}
.recentText {
  margin-left: 10px;
  font-family: var(--font);
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
  color: var(--main-text-colour);
}
.recentText:hover {
  cursor: pointer;
}
.placeholder {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  color: var(--placeholder-text-colour);
  pointer-events: none;
}
.mainTime {
  color: var(--secondary-text-colour);
  font-family: var(--font);
  margin-left: 30px;
  margin-bottom: -15px;
}
.mainPage {
  display: flex;
  justify-content: center;
}
.midSection {
  background-color: white;
  margin: auto;
  padding-bottom: 35px;
}
.navTemp {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url("./images/temp.svg");
}
.mainInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 20px;
}
.mainInfoUpper {
  margin-left: 30px;
  display: flex;
  flex: 1;
}
.mainInfoLocation {
  flex: 1;
}
.mainInfoCity {
  font-family: var(--font);
  font-size: 32px;
  margin-top: 20px;
  color: var(--secondary-text-colour);
  letter-spacing: 1px;
}
.mainInfoCountry {
  font-family: var(--font);
  font-weight: 200;
  font-size: 18px;
  margin-top: -25px;
  color: white;
}
.mainInfoLower {
  display: flex;
  height: 160px;
}
.mainInfoLowerExtra {
  display: flex;
}
.currentTemperature {
  color: var(--secondary-text-colour);
  font-family: var(--font);
  font-weight: 200;
  font-size: 96px;
}
.currentWeather {
  color: white;
  font-family: var(--font);
  font-weight: 200;
}
.currentWind {
  color: var(--secondary-text-colour);
  font-family: var(--font);
  font-weight: 400;
  font-size: 18px;
  width: 120px;
}
.currentHumidity {
  color: var(--secondary-text-colour);
  font-family: var(--font);
  font-weight: 400;
  font-size: 18px;
}
.toggleBig {
  width: 150px
}
.toggleSmall {
  width: 105px
}

@media only screen and (min-width: 1500px) {
  .dateLarge {
    font-size: 20px;
    margin-left: 30px;
  }
  .titleLarge {
    font-size: 32px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .cardLarge {
    flex-direction: column;
    height: 200px;
    text-align: center;
  }
  .cardCountryLarge {
    margin-top: -15px;
  }
  .cardTemperatureLarge {
    margin-top: -10px;
  }
  .switchLarge {
    margin-right: 20px;
  }
  .searchBoxContainerLarge {
    width: 35%;
  }
  .searchBoxLarge {
    width: 125px;
  }
  .recentBoxLarge {
    height: 248px;
    width: 340px;
  }
  .mainTimeLarge {
    font-size: 24px;
  }
  .mainPageLarge {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .midSectionLarge {
    max-width: 1350px;
    width: 90%;
    min-height: 70%;
    border-radius: 20px;
  }
  .navTempLarge {
    width: 320px;
    border-radius: 40px 20px 0 40px;
  }
  .mainInfoLarge {
    max-width: 650px;
    width: 65%;
    min-width: 500px;
    height: 310px;
    margin-right: 15px;
    background-image: url("images/mainInfo.jpg");
  }
  .currentTemperatureLarge {
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 40px;
    min-width: 150px;
    max-width: 160px;
  }
  .currentWeatherLarge {
    font-size: 36px;
  }
  .currentWindLarge {
    margin-top: -20px;
    margin-right: 40px;
  }
  .currentHumidityLarge {
    margin-top: -20px;
  }
}

@media only screen and (min-width: 1021px) and (max-width: 1500px) {
  .dateLarge {
    font-size: 20px;
    margin-left: 30px;
  }
  .titleLarge {
    font-size: 32px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .cardLarge {
    flex-direction: column;
    height: 200px;
    text-align: center;
  }
  .cardCountryLarge {
    margin-top: -15px;
  }
  .cardTemperatureLarge {
    margin-top: -10px;
  }
  .switchLarge {
    margin-right: 20px;
  }
  .searchBoxContainerMedium {
    width: 40%;
  }
  .searchBoxLarge {
    width: 125px;
  }
  .recentBoxLarge {
    height: 248px;
    width: 340px;
  }
  .mainTimeLarge {
    font-size: 24px;
  }
  .mainPageLarge {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .midSectionLarge {
    max-width: 1350px;
    width: 90%;
    min-height: 70%;
    border-radius: 20px;
  }
  .navTempLarge {
    width: 320px;
    border-radius: 40px 20px 0 40px;
  }
  .mainInfoMedium {
    max-width: 650px;
    width: 60%;
    height: 310px;
    margin-right: 15px;
    background-image: url("images/mainInfo.jpg");
  }
  .currentTemperatureLarge {
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 40px;
    min-width: 150px;
    max-width: 160px;
  }
  .currentWeatherLarge {
    font-size: 36px;
  }
  .currentWindMedium {
    margin-top: -20px;
    margin-right: 20px;
  }
  .currentHumidityLarge {
    margin-top: -20px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1020px) {
  .dateLarge {
    font-size: 20px;
    margin-left: 30px;
  }
  .cardSmall {
    flex-direction: row;
    height: 60px;
    align-items: center;
  }
  .titleLarge {
    font-size: 32px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .cardCountrySmall {
    margin-left: 3%;
    margin-top: 20px;
  }
  .cardTemperatureMedium {
    margin-left: 4%;
    margin-top: 25px;
  }
  .cardContainerMedium {
    width: 48%;
    height: 60px;
  }
  .switchLarge {
    margin-right: 20px;
  }
  .searchBoxContainerMedium {
    width: 40%;
  }
  .searchBoxLarge {
    width: 125px;
  }
  .recentBoxLarge {
    height: 248px;
    width: 340px;
  }
  .mainTimeLarge {
    font-size: 24px;
  }
  .mainPageLarge {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .midSectionLarge {
    max-width: 1350px;
    width: 90%;
    min-height: 70%;
    border-radius: 20px;
  }
  .weatherIcon {
    max-width: 50px;
    max-height: 50px;
    margin: 0;
  }
  .navTempLarge {
    width: 320px;
    border-radius: 40px 20px 0 40px;
  }
  .mainInfoSmall {
    max-width: 650px;
    min-width: 75%;
    margin-top: 20px;
    height: 310px;
    background-image: url("images/mainInfo.jpg");
  }
  .mainInfoLowerSmall {
    align-items: center;
  }
  .currentTemperatureMedium {
    margin-left: 30px;
    margin-right: 30px;
    min-width: 140px;
    max-width: 150px;
  }
  .currentWeatherSmall {
    font-size: 24px;
    margin-top: 5px;
  }
  .currentWindSmall {
    margin-top: -20px;
    margin-right: 15px;
  }
  .currentHumidityMedium {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 600px) {
  .titleSmall {
    font-size: 24px;
    margin-left: 20px;
    margin-right: 10px;
  }
  .cardSmall {
    flex-direction: row;
    height: 60px;
    align-items: center;
  }
  .dateSmall {
    font-size: 16px;
    margin-left: 20px;
  }
  .cardCountrySmall {
    margin-left: 3%;
    margin-top: 20px;
  }
  .cardTemperatureSmall {
    margin-left: 5%;
    margin-top: 25px;
  }
  .cardContainerSmall {
    width: 100%;
    height: 60px;
  }
  .switchSmall {
    margin-right: 0;
  }
  .searchBoxContainerSmall {
    width: 100%;
  }
  .searchBoxSmall {
    width: 35%;
  }
  .recentBoxSmall {
    min-height: 218px;
    width: 100%;
  }
  .mainTimeSmall {
    font-size: 18px;
  }
  .mainPageSmall {
    height: 100vh;
  }
  .midSectionSmall {
    width: 100%;
    min-height: 100%;
  }
  .weatherIcon {
    max-width: 50px;
    max-height: 50px;
    margin: 3%;
  }
  .navTempSmall {
    width: 125px;
    border-radius: 40px 0 0 40px;
  }
  .mainInfoVerySmall {
    width: 100%;
    margin-top: 20px;
    min-height: 400px;
    background-position: 55% 5%;
    background-image: url("images/mainInfoMobile.jpg");
    border: 1px white solid
  }
  .mainInfoUpperSmall {
    flex-wrap: wrap;
  }
  .mainInfoLowerSmall {
    align-items: center;
  }
  .mainInfoLowerExtraSmall {
    flex-direction: column;
  }
  .currentTemperatureSmall {
    margin-left: 20px;
    margin-right: 10px;
    min-width: 140px;
    max-width: 150px;
  }
  .currentWeatherSmall {
    font-size: 32px;
    margin-top: 5px;
  }
  .currentWindVerySmall {
    margin-top: -15px;
    margin-right: 15px;
  }
  .currentHumiditySmall {
    margin-top: 0;
  }
  .toggleBig {
    width: 110px
  }
  .toggleSmall {
    width: 80px
  }
}